{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<body>
    <div class="grid-container">
        {% for destination in australia_destinations %}
            <div class="destination-card">
                <img src="{{ destination.image_path }}" alt="{{ destination.name }}" class="destination-image">
                <h2>{{ destination.name }}</h2>
                <p><strong>Country:</strong> {{ destination.country }}</p>
                <p><strong>Description:</strong> {{ destination.description }}</p>
                <p><strong>Continent:</strong> Australia</p>
                <p><strong>Price:</strong> ${{ destination.price }}</p>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}