<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link href="https://fonts.cdnfonts.com/css/andale-mono" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <header>
        <nav>
            <!-- <div class="container"> -->
                <a href="/">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Destinations 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/europe">Europe</a>
                      <a href="/northamerica">North America</a>
                      <a href="/asia">Asia</a>
                      <a href="/australia">Australia</a>
                    </div> 
                </div>

                <!-- Trigger/Open The Modal -->
                <button id="myBtn" class="myBtn">Currency Converter</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="form-container">
                        <label for="amount" class="form-label">Amount:</label>
                        <input type="number" id="amount" name="amount" class="form-input">
                        
                        <label for="from_currency" class="form-label">From:</label>
                        <select id="from_currency" class="form-select">
                          <option value="USD">USD</option>
                          <option value="EUR">EUR</option>
                          <option value="GBP">GBP</option>
                          <option value="JPY">JPY</option>
                          <option value="AUD">AUD</option>
                          <option value="CAD">CAD</option>
                          <option value="CHF">CHF</option>
                          <option value="CNY">CNY</option>
                          <option value="INR">INR</option>
                          <!-- Add other currencies here -->
                        </select>
                        
                        <label for="to_currency" class="form-label">To:</label>
                        <select id="to_currency" class="form-select">
                          <option value="USD">USD</option>
                          <option value="EUR">EUR</option>
                          <option value="GBP">GBP</option>
                          <option value="AUD">AUD</option>
                          <option value="CAD">CAD</option>
                          <option value="CHF">CHF</option>
                          <option value="CNY">CNY</option>
                          <option value="INR">INR</option>
                          <!-- Add other currencies here -->
                        </select>
                        
                        <button class="form-button" role="button" onclick="convertCurrency()">Convert Currency</button>
                        <div class="result-container" id="result">
                            <div class="result-label">Converted Amount:</div>
                            <div class="result-value"> <!-- This is where the converted amount will be displayed -->
                              <!-- Result will be dynamically inserted here -->
                            </div>
                          </div>
                          
                      </div>
                      
                </div>
                <script src="{{ url_for('static', filename='javascript/convert.js') }}"></script>
                </div>
                {% if not is_authenticated %}
                    <span class="auth-links">
                        <a href="/login">Login</a>
                        <a href="/signup">Signup</a>
                    </span>
                {% else %}
                    <span class="auth-links">
                        <a href="/logout">Logout</a>
                    </span>
                {% endif %}
            <!-- </div> -->
        </nav>
    </header>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>