{% extends 'base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>    
<div class="container">
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form id="form" method="post" autocomplete="off">
      <h1 id="message">Log In</h1><small id="smallMessage"> </small>
      <div class="field">
        <input id="username" type="username" name="username" placeholder="Username" autocomplete="off"/>
        <label for="username">Email</label>
      </div>
      <div class="field">
        <input id="password" type="password" name="password" placeholder="Password" autocomplete="new-password"/>
        <label for="password">Password</label>
      </div>
      <button id="submit">Log In</button>
    </form>
  </div>
</body>
{% endblock %}